.row-customimageexplorer {
  position: relative;
}
.row-customimageexplorer .edit-buttons {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: row;
  transition: 0.2s all ease;
}
.row-customimageexplorer:hover .edit-buttons {
  opacity: 1;
  visibility: visible;
}
